.App {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgb(145, 145, 145);
  padding: 70px;
  background-color: #00203FFF;
  width: 600px;
}
form {
  margin: 0 auto; 
  width:fit-content;
}
#form-title {
  color: white;
  font-family: Georama;
  margin-bottom: 15px;
  text-align: center;
}
#icon {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
label {
  color: white;
}

input, label {
  display: block;
  font-family: Georama;
  margin: 0 auto;
  padding: 15px 7px;
}

input {
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  width: 300px;
  font-size: 20px;
}
html {
  background-color: #ADEFD1FF;
  font-size: 25px;
}

button {
  display: block;
  margin: 0 auto;
  font-size: 25px;
  padding: 10px 0;
  color: white;
  background-color: rgb(60, 158, 114);
  border-radius: 5px;
  font-family: Georama;
  width: 318px;
  border: 0
}

#response-msg {
  text-align: center;
  font-size: 20px;
  font-family: Georama;
  padding: 10px;
}
#response-msg:empty {
  padding: 0;
}
.success {
  background-color: aquamarine;

}
.failure1, .failure2 {
  color: white;
  background-color: rgb(122, 11, 33);
}
.loading {
  background-image: url('./loading.gif');
  height: 30px;
  width: 190px;
  background-position: center center;
  margin: 0 auto;
}
@media only screen and (max-width:740px) {
  .App {
    width: 100%;
    padding: 70px 0;
  }
}
@media only screen and (max-width:338px) {
    input, button {
      width: 95%
    }
}
@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');
